<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
  <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script defer src='main.js'></script>
  <script src="tailwind.js"></script>
  <style>
    /* Responsive stuff */
    @media(max-width: 1360px) {
      html {
        font-size: 12px
      }
    }

    @media(min-width: 2880px) {
      html {
        font-size: 16px
      }
    }

    @media(min-width: 3456px) {
      html {
        font-size: 32px
      }
    }

    ::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>

<body style="display: none;" class="font-[Roboto] select-none">
  <div id="root" class="bg-black/20 w-screen h-screen grid place-items-center" v-if="visible">
    <div class="bg-black/40 w-[60rem] h-[40rem] p-5 rounded-2xl">
      <div v-if="checkout === false" class="w-full h-full grid grid-cols-2 overflow-y-auto">
        <div class="p-4" v-for="data,index in credits" :key="index">
          <img class="w-full mb-2" :src="data.image">
          <h1 class="text-3xl text-white font-bold">{{data.name}}</h1>
          <button v-if="data.credits>=data.consume" class="bg-purple-600 p-1 px-2 text-white rounded-lg" @click="set_current(index)">
            <span v-if="data.consume>1">{{_('redeem.many', { amount: data.consume })}}</span>
            <span v-else>{{_('redeem.one', { amount: data.consume })}}</span>
          </button>
          <button v-else class="bg-red-600 p-1 px-2 text-white rounded-lg">{{_('credits.insufficient')}}</button>
        </div>
      </div>
      <div v-else>
        <div class="relative mb-4">
          <button class="absolute" @click="checkout=false">
            <i class="fas fa-arrow-left text-xl text-white"></i>
          </button>
          <h1 class="text-white text-center text-3xl">{{_('redeem')}} {{current.name}}</h1>
        </div>

        <div v-for="field in current.form" :key="field.name">
          <h1 class="text-white text-2xl mb-2">{{field.label}}</h1>
          <select class="p-2 w-1/2 focus:outline-none" v-if="field.options" v-model="form[field.name]">
            <option value="" disabled>{{_('select.option')}}</option>
            <option v-for="option,index in field.options" :key="index" :value="option.value">
              {{option.label}}
            </option>
          </select>
          <input class="p-2 w-1/2 focus:outline-none" v-else-if="field.placeholder" :placeholder="field.placeholder" v-model="form[field.name]">
        </div>

        <h1 v-if="error" class="text-red-500">{{error}}</h1>

        <button class="bg-purple-600 hover:bg-purple-700 transition-all text-white p-2 px-4 rounded mt-4" @click="redeem">
          {{_('redeem')}}
        </button>
      </div>
    </div>
  </div>
</body>

</html>